@model Hotel
<div class="row">
    <div class="col">
        <label>@Model.Id</label></br>
        <label>@Model.Name</label></br>
        <label>@Model.Description</label></br>
        <label>@Model.Phone</label></br>
    </div>
</div>