@model List<Otel>


<a asp-controller="Hotel" asp-action="Create">Ekle</a>
<a asp-controller="Hotel" asp-action="Details" asp-route-id="5">Detay</a>
<a asp-controller="Hotel" asp-action="Edit" asp-route-id="15">Düzenle</a>
<a asp-controller="Hotel" asp-action="Delete" asp-route-id="25">Sil</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope ="col">Adı</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Telefon</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Otel otel in Model)
        {
            <tr>
                <td scope="row">@otel.Id</td>
                <td>@otel.Name</td>
                <td>@otel.Description</td>
                <td>@otel.Phone</td>
            </tr>
        }
    </tbody>
    <tfood>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Adı</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Telefon</th>
        </tr>
    </tfood>
</table>