@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Burası c# kodudur.
    int sayi = 5;
    int sayi2 = sayi + 25;
}

<p>Merhaba Dünya</p>
<div>
    @{
        string mesaj = "test";
    }
</div>
