<div class="row">
    <div class="col">
        <form method="post">
            <div class="mb-3 row">
                <label for="TeacherName" class="col-sm-2 col-form-label">Adı</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Name" id="TeacherName">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="TeacherSurname" class="col-sm-2 col-form-label">Soyadı</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Surname" id="TeacherSurname">
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <input type="submit" class="btn btn success" value="Kaydet" />
                </div>
            </div>
        </form>
    </div>

</div>